@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-body: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-romantic-background: #fffafa;
  --color-romantic-pink-light: #fdf2f8;
  --color-romantic-pink: #fce7f3;
  --color-romantic-gold: #d4af37;
}

@layer base {
  html, body {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-romantic-background text-zinc-900 font-body antialiased selection:bg-pink-100 selection:text-pink-900;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mask-radial-fade {
    mask-image: radial-gradient(circle at center, black 0%, transparent 80%);
  }
  
  .glass {
    @apply bg-white/30 backdrop-blur-md border border-white/20;
  }
}
